.Admin {
    width: 1000px;
    height: 800px;
    margin: 80px 400px;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
    border: 1px solid;
}
.productAd{
    width: 200px;
    height: 50px;
    margin: 100px 45px 0 45px;
    border: 1px solid;
    text-align: center;
    line-height: 40px;
}
.orderAd{
    width: 200px;
    height: 50px;
    margin: 0 45px;
    border: 1px solid;
    text-align: center;
    line-height: 40px;
}
.student{
    width: 200px;
    height: 50px;
    margin: 0 45px;
    border: 1px solid;
    text-align: center;
    line-height: 40px;
}

.right {
    width: 70%;
    height: 100%;
    border: 1px solid;
}
.menuAdmin{
    height: 100px;
    border: 1px solid;
    text-align: center;
    line-height: 100px;
}
button{
    width: 150px;
    height: 50px;
}
h1{
    text-align: center;
    line-height: 300px;
}